<ion-content [fullscreen]="true" class="recover-content">
  <div class="recover-container">

    <h1 class="recover-title">Forgot your password?</h1>
    <p class="recover-subtitle">
      Enter your email address and we will send you instructions to reset your password.
    </p>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate>
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="recover-button" [disabled]="formulario.invalid">
        Send instructions
      </ion-button>
    </form>

    <div class="back-to-login">
      <a [routerLink]="['/login']">← Back to login</a>
    </div>

  </div>
</ion-content>
