.cancel-create-task {
  font-size: 28px;
  border-radius: 20px;
}

.modal-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin: 16px;
}

.input-title {
  font-size: 18px;
  padding: 8px 12px;
}

.form-group {
  margin-bottom: 16px;
}

.date-time-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-input,
.time-input {
  background-color: var(--accent-color);
  border-radius: 6px;
  width: 48%;
  padding: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.checkbox-all-day {
  --background: var(--accent-color);
  --border-radius: 6px;
  padding: 6px 12px;
}

.text-area-description {
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}

.custom-select-container {
  display: flex;
  align-items: center;
}

.select-list {
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 10px;
  width: 100%;
}

.icon-list {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.submit-task-button {
  --background: var(--accent-color);
  --color: var(--primary-color);
  --border-radius: 12px;
  font-weight: 500;
  margin-top: 20px;
}
