<!-- v2 -->
<div class="calendar-content">
  <ion-header class="current-date">
    <h4>{{ currentDate | date: 'fullDate' }}</h4>
  </ion-header>

  <ion-grid>
    <!-- Navegación de mes -->
    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="2">
        <ion-button class="toolbar-button" fill="clear" (click)="previousMonth()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <h5>{{ monthNames[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}</h5>
      </ion-col>
      <ion-col size="2" class="ion-text-right">
        <ion-button class="toolbar-button" fill="clear" (click)="nextMonth()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Días de la semana -->
    <ion-row>
      <ion-col size="1.7" *ngFor="let day of weekDays" class="ion-text-center weekday">
        <strong>{{ day }}</strong>
      </ion-col>
    </ion-row>

    <!-- Semanas (Filas) -->
    <ion-row *ngFor="let week of calendar">
      <!-- Días (Celdas) -->
      <ion-col
        size="1.7"
        *ngFor="let day of week"
        class="ion-text-center"
      >
        <div
          class="calendar-day"
          [class.other-month]="!day.isCurrentMonth"
          [class.today]="day.isToday"
          [class.selected]="day.isSelected"
          (click)="selectDate(day)"
        >
          {{ day.day }}
        </div>
        <div *ngIf="getTasksCountForDay(day) > 0" class="task-count">
          {{ getTasksCountForDay(day) }} task{{ getTasksCountForDay(day) > 1 ? 's' : '' }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
