<ion-popover #taskDetailsPopover [isOpen]="isPopoverOpen" [keepContentsMounted]="true" [dismissOnSelect]="false" (didDismiss)="isPopoverOpen = false" class="task-details-popover">
  <ng-template>
    <ion-card class="task-card">
      <ion-card-header>
        <div class="card-header-content">
          <ion-card-title>
            {{ currentTaskList.title }}
          </ion-card-title>
          <div class="task-filter-controls">
            <ion-chip [color]="showCompleted ? 'primary' : 'medium'" (click)="showCompleted = !showCompleted">
              <ion-icon *ngIf="!showCompleted" name="eye-outline"></ion-icon>
              <ion-icon *ngIf="showCompleted" name="eye-off-outline"></ion-icon>
              <ion-label>{{ showCompleted ? 'Hide completed' : 'Show Completed' }}</ion-label>
            </ion-chip>
            <ion-icon name="trash-outline" color="danger" slot="end" class="options-icon" (click)="deleteTaskList(currentTaskList.id)"></ion-icon>
          </div>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="task-section" *ngIf="getActiveTasks().length > 0">
          <div class="task-section-title" *ngIf="getCompletedTasks().length > 0 && showCompleted">Active</div>
          <div class="task-list">
            <ion-item *ngFor="let task of getActiveTasks()" lines="none" class="task-item">
              <ion-checkbox slot="start" [checked]="task.completed" color="primary" (ionChange)="toggleTaskStatus(task)"></ion-checkbox>
              <div class="task-content">
                <ion-label>{{ task.title }}</ion-label>
                <div class="task-details">
                  <span class="task-time">
                    <ion-icon name="time-outline"></ion-icon> {{ getTimeFromTask(task) }}
                  </span>
                  <ion-text *ngIf="task.description" class="task-description">
                    {{ task.description }}
                  </ion-text>
                </div>
              </div>
              <ion-icon name="ellipsis-horizontal-outline" slot="end" class="options-icon" (click)="openTaskModal(task)"></ion-icon>
              <ion-icon name="trash-outline" color="danger" slot="end" class="options-icon" (click)="deleteTask(currentTaskList, task.id)"></ion-icon>
            </ion-item>
          </div>
        </div>

        <div class="task-section" *ngIf="getCompletedTasks().length > 0 && showCompleted">
          <div class="task-section-title">Completed</div>
          <div class="task-list">
            <ion-item *ngFor="let task of getCompletedTasks()" lines="none" class="task-item completed-task">
              <ion-checkbox slot="start" [checked]="task.completed" color="primary" (ionChange)="toggleTaskStatus(task)"></ion-checkbox>
              <div class="task-content">
                <ion-label class="completed">{{ task.title }}</ion-label>
                <div class="task-details">
                  <span class="task-time">
                    <ion-icon name="time-outline"></ion-icon> {{ getTimeFromTask(task) }}
                  </span>
                  <ion-text *ngIf="task.description" class="task-description">
                    {{ task.description }}
                  </ion-text>
                </div>
              </div>
              <ion-icon name="ellipsis-horizontal-outline" slot="end" class="options-icon" (click)="openTaskModal(task)"></ion-icon>
            </ion-item>
          </div>
        </div>

        <div class="empty-tasks" *ngIf="currentTaskList.tasks.length === 0">
          There are no tasks in this list, add a new one!
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <app-create-task-modal></app-create-task-modal>
</ion-popover>
