:root {
  --ion-background-color: #f3f4ff;
  --ion-background-color-rgb: 240, 240, 240;

  --ion-text-color: #000;
}

ion-button {
  text-transform: capitalize;
  margin-bottom: 8px;
  padding: 12px;
  width: 50%;
  height: 100%;
}

ion-item {
  margin-bottom: 8px;
  border-radius: 25px;
}

