<ion-modal #createTaskListModal [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Create Task List</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancelCreateTaskList()" [strong]="true">
            <ion-icon name="close-outline" class="cancel-create-task"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="modal-content">
      <ion-card class="modal-card">
        <ion-card-content>
          <form [formGroup]="createTaskListForm" (ngSubmit)="createTaskList()">
            <ion-list lines="none" class="list-form">

              <ion-item class="form-group">
                <ion-input
                  type="text"
                  formControlName="title"
                  placeholder="Add a title"
                  class="input-title">
                </ion-input>
              </ion-item>

              <div class="form-group custom-select-container">
                <div class="icon-list">
                  <ion-icon name="folder-outline"></ion-icon>
                </div>
                <ion-select
                  interface="popover"
                  formControlName="category"
                  class="select-category">
                  <ion-select-option *ngFor="let cat of allCategories" value="{{cat.title}}">{{cat.title}}</ion-select-option>
                </ion-select>
              </div>

              <ion-button
                expand="block"
                type="submit"
                [disabled]="buttonCreateTaskListDisabled"
                class="submit-task-button">
                Create Task List
              </ion-button>

            </ion-list>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
